body {
  font-family: Roboto, Arial;
}
a {
  text-decoration: none;
  color: black;
}

.chat-header {
  height: 8%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #075e54;
  width: 100%;
  align-items: center;
  vertical-align: middle;
  font-weight: bold;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.whatsapp-chat-layout {
    display: flex;
    flex-direction: column;
    background-color: rgb(236, 229, 221);
    height: 600px;
    align-items: center;
    margin: 0 auto;
    width: 300px;
    border-radius: 10px;
}
.left-header {
  display: flex;
  flex-direction: row;
  color: rgba(223, 223, 223, 1);
  align-items: center;
  justify-content: center;
  margin-top: 4px;
}
.profile-picture-img {
  height: 35px;
  cursor: pointer;
}
.back-arrow {
  height: 30px;
  cursor: pointer;
}
.chat-name {
  margin-left: 6px;
  cursor: pointer;
}
.chat-call-icon,
.three-dot-chat {
  height: 22px;
  filter: invert(0.85);
  cursor: pointer;
}
.right-header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 120px;
  height: 100%;
  margin-top: 4px;
}
.video-call-icon {
  height: 30px;
  filter: invert(0.8);
  cursor: pointer;
}
.main-div-messaggi-utente {
  height: 83%;
  width: 100%;
  overflow: auto;
  scroll-behavior: smooth;
}

.main-div-messaggi-utente {
  scrollbar-width: none; /*non è supportato da ogni browser*/
}
.main-div-messaggi-utente::-webkit-scrollbar { /*non è supportato da ogni browser*/
  width: 0; 
  height: 0; 
}

.footer-chat {
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.footer-elements {
  display: flex;
  
}
.input-div {
  height: 100%;
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.input {
  width: 95%;
  height: 34px;
  border-radius: 20px;
  border: none;
  background-color: #D1D1D1;
  text-indent: 35px;
}
.emote {
  position: absolute;
  left: 11px;
  cursor: pointer;
}
.camera-icon-chat {
  height: 27px;
  position: absolute;
  right: 12px;
  cursor: pointer;
}
.clip-icon {
  height: 28px;
  position: absolute;
  right: 45px;
  cursor: pointer;
}
.voice-chat-icon {
  height: 36px;
  cursor: pointer;
}
.voice-chat-div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.messaggio1 {
  background-color: rgb(18,140,126);
  color: white;
  margin-top: 5px;
  width: 75%;
  border-radius: 12px;
  padding: 7px 18px 17px 10px;
  margin-left: 10px;
  position: relative;
  border-top-left-radius: 0px;
}
.time-messaggio {
  position: absolute;
  right: 7px;
  bottom: 4px;
  color: lightgray;
  font-size: 13px;
}
.messaggio2 {
  background-color: #61637D;
  color: white;
  margin-top: 5px;
  width: 75%;
  border-radius: 12px;
  padding: 7px 18px 16px 10px;
  margin-left: 38px;
  position: relative;
  border-top-right-radius: 0;
}