body {
    font-family: Helvetica, Arial;
    font-size: 15pt;
}

.icon {
  height: 22px;
  filter: invert(0.85);
}


.whatsapp-layout {
  display: flex;
  flex-direction: column;
  background-color: rgb(236,229,221);
  height: 600px;
  align-items: center;
  margin: 0 auto;
  width: 300px;
}
.header-layout {
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #075e54;
  width: 100%;
  align-items: center;
  vertical-align: middle;
  font-weight: bold;
}
.whatsapp-title {
  color: rgb(225, 225, 225);
  flex: 1;
  margin-left: 15px;
}

.div-icons {
  display: flex;
  width: 110px;
  justify-content: space-between;
  align-items: center;
  padding-top: 3px;
}

.main-div-mex {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: auto;
}
.main-div-mex {
  scrollbar-width: none; /*non è supportato da ogni browser*/
}
.main-div-mex::-webkit-scrollbar { /*non è supportato da ogni browser*/
  width: 0; 
  height: 0; 
}
.div-mex {
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
.div-mex-archive {
  display: flex;
  flex-direction: row;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  color: dimgray;
  font-weight: bold;
}
.archive-icon {
  height: 30px;
  margin-top: 5px;
  filter: invert(0.25);
}
.archive-div {
  margin-left: 15px
}
.archive-par {
  margin-left: 15px;
  flex: 1;
  font-size: 13px;
  font-weight: 600;
}
.archive-notification {
  margin-right: 10px;
  color: rgb(37,211,102);
}
.name-mex {
  display: flex;
  flex-direction: column;
  flex: 3;
  justify-content: center;
}
.activity {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.profile-pic {
  height: 40px;
}
.profile-image {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.name {
  font-size: 14px;
  font-weight: bold;
}
.mex {
  font-size: 12px;
  color: dimgray;
}
.time {
  font-size: 13px;
  margin-right: 5px;
  position: relative;
}
.mex-counter {
  font-size: 12px;
  background-color: rgb(37,211,102);
  padding: 9% 19%;
  border-radius: 10px;
  color: white;
  margin-top: 3px;
  font-weight: 500;
}
.mex-counter:empty {
  background-color: transparent;
}
.footer {
  display: flex;
  flex-direction: row;
  background-color: rgb(18,140,126);
  width: 100%;
  justify-content: space-evenly;
  height: 80px;
  align-items: center;
}
.footer-icon {
  height: 25px;
}
.footer-sub-div {
  display: flex;
  flex-direction: column;
  font-size: 11px;
  align-items: center;
}
